@font-face {
    font-family: 'HammersmithOne-Regular';
    src: url('../fonts/HammersmithOne-Regular.ttf');
}

@font-face {
    font-family: 'Cabrion-Regular';
    src: url('../fonts/Cabrion-Regular.ttf');
}

@font-face {
    font-family: 'Cabrion-Medium';
    src: url('../fonts/Cabrion-Medium.ttf');
}

@font-face {
    font-family: 'Cabrion-Thin';
    src: url('../fonts/Cabrion-Thin.ttf');
}

@font-face {
    font-family: 'Cabrion-Bold';
    src: url('../fonts/Cabrion-Bold.ttf');
}


body {
    color: #4A4B65;
    font-family: 'Cabrion-Regular';
}

.cabrion-bold {
    color: #4A4B65;
    font-family: 'Cabrion-Bold';
}

.font-color-1 {
    color: #4A4B65;
}

.font-color-2 {
    color: #9E9FB4;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #F0F0F0;
}

.custom-btn {
    font-family: 'HammersmithOne-Regular';
    border: 0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    transition: 0.3s;
}

.btn-purple {
    color: #ffffff; 
    background-color: #766DF4; 
    border-color: #766DF4;
}

.btn-purple:hover {
    color: #ffffff; 
    background-color: #5a52d1; 
    border-color: #5a52d1;

}

.btn-purple:active {
    color: #ffffff; 
    background-color: #4c45b5; 
    border-color: #4c45b5;
}


.btn-silver {
    color: #000000; 
    background-color: #F0F0F0; 
    border-color: #F0F0F0;
}

.btn-silver:hover {
    color: #000000; 
    background-color: #dedede; 
    border-color: #dedede;
}

.btn-silver:active {
    color: #000000; 
    background-color: #bfbfbf; 
    border-color: #bfbfbf;
}