<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Coacher</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="icon" type="image/ico" href="images/logo.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/fontawesome.css"/>

    </head>

    <body>

        <nav class="navbar navbar-expand navbar-light pt-5 pb-5 px-xl-3">
            <div class="container d-flex justify-content-between">
                <img class="mr-2" src="images/logo_colored.svg" width="40" height="40">
                <a href="index.html" class="navbar-brand d-flex align-items-center" style="font-family: HammersmithOne-Regular; font-size: 35px;">coacher</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="login" class="btn custom-btn btn-silver" role="button"><i class="far fa-dumbbell"></i> Start training!</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="container pt-5 shadow-2">
            <div class="row pl-2 pr-2">
                <div class="col-md align-self-center mb-5">
                    <h1 class="text-left mt-5 cabrion-bold">Your virtual <a style="color: #766DF4;">coach</a></h1>
                    <h4 class="text-left h5 font-color-2">And you will find everything you need to build a great looking website.</h4>
                    <button onclick="letsBegin()" class="custom-btn btn-purple mt-3" role="button">Let's begin <i class="fas fa-arrow-down"></i></button>
                </div>
                <div class="col-md w-100 align-self-center">
                    <img src="images/m1.svg" style="width: 100%; height: auto;">
                </div>
            </div>
        </section>


        <div id="m1" class="w-100 mt-5" style="background-color: #F7F7FC;">
            <section class="container pt-5 pb-5">
                <div class="row pl-2 pr-2">
                    <div class="col-md align-self-center text-center">
                        <p class="h1 cabrion-bold">Lorem ipsum</p>
                        <p class="pl-5 pr-5 myfont font-color-2">Coacher is your virtual coach</p>
                        <img src="images/m2.svg" style="width: 70%; height: auto;">
                    </div>
                </div>
            </section>
        </div>

        <div style="background-image: linear-gradient(90deg, #766DF4, #6A9BF4);">
            <section class="container pt-5 pb-5">
                <p class="h1 cabrion-bold text-center text-white">Use it anywhere</p>
                <p class="myfont" style="color: #F0F0F0;">Around based on advanced fully responsive Bootstrap grid. It looks great at any screen resolution and optimized for small touch screens. Around features 2 types of navigation for handeld devices and off-canvas sidebars that are easily accessible. All sliders used in the template have swipe support.</p>
            </section>
        </div>

        <section class="container pt-5 pb-5">
            <div class="row pl-2 pr-2">
                <div class="col-md align-self-center mb-5">
                    <img src="images/m3.svg" style="width: 100%; height: auto;">
                </div>
                <div class="col-md w-100 align-self-center">
                    <p class="h1 cabrion-bold">Use it anywhere</p>
                    <p class="myfont font-color-2">Around based on advanced fully responsive Bootstrap grid. It looks great at any screen resolution and optimized for small touch screens. Around features 2 types of navigation for handeld devices and off-canvas sidebars that are easily accessible. All sliders used in the template have swipe support.</p>
                </div>
            </div>
        </section>

        <div class="w-100 mt-5" style="background-color: #F7F7FC;">
            <section class="container pt-5 pb-5">
                <div class="row pl-2 pr-2">
                    <div class="col-md align-self-center text-center">
                        <p class="h1 cabrion-bold">Team</p>
                        <p class="pl-5 pr-5 myfont font-color-2">Or only one person?</p>

                        <div class="row pl-2 pr-2">
                            <div class="col-md align-self-center mb-5">
                                <div class="circle-img text-center mx-auto">
                                    <img style="width: 150%; height: auto;" src="/images/uros.jpg">
                                </div>
                            </div>
                            <div class="col-md w-100 align-self-center">
                                <p class="h1 cabrion-bold">Uroš Aksentijević</p>
                                <p class="myfont font-color-2 font-weight-bold" style="text-transform: uppercase;">CEO / Founder / Developer</p>
                                <p class="myfont font-color-2">Experienced developer, business manager and ideas founder! First touch with programming was at 14 years old.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        
        <div class="w-100 mt-5" style="background-color: #4A4B65;">
            <section class="container pt-5">
                <div class="row pl-2 pr-2">
                    <div class="col-md align-self-center text-center">
                        <p class="h1 cabrion-bold" style="color: white;">Still here?</p>
                        <p class="pl-5 pr-5 myfont" style="color: white;">Join and start training</a></p>
                        <a href="register" class="btn custom-btn btn-purple mb-3" role="button"><i class="fas fa-sign-in-alt"></i> Register</a>
                        <p class="pl-5 pr-5 myfont font-color-2">All rights reserved © Coacher</p>
                        <p></p>
                    </div>
                </div>
                
            </section>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" class="custom-btn btn-purple" title="Go to top"><i class="fas fa-angle-up"></i></button>


        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };
            
            function scrollFunction() {
                if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                    document.getElementById("movetop").style.display = "block";
                }
                else {
                    document.getElementById("movetop").style.display = "none";
                }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

            // When the user click on button "Let's Begin"
            function letsBegin() {
                document.getElementById("m1").scrollIntoView(true);
            }
        </script>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>

</html>